body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.container{
    width: 30%;
    height: 100vh;
    background-color: var(--background-login);
    position: relative;
    display: flex;
    flex-direction: column;
}

.container-form{
    display: flex;
    flex-direction: column;
}

.form-login, .form-registration{
    display: flex;
    flex-direction: column;
}

.label-form{
    color: var(--color-text);
    font-family: var(--font);
}

.input-form{
    font-family: var(--font2);
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

.container .label-form, .input-form{
    width: 80%;
    margin: 5px auto;
}

.login{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto 10px ;
}

#button-login, #button-registration{
    border: none; 
    background-color: var(--background-login);
    width: 50%;
    cursor: pointer;
    font-family: var(--font);
    font-size: 20px;
    padding-bottom: 10px;
}

#button-login{
    border-bottom: 2px solid var(--color-highlight);
    color: var(--color-highlight);
} 

#button-registration{
    border-bottom: 2px solid var(--color-text);
    color: var(--color-text);
}

#submit-login, #submit-registration{
    padding: 5px;
    width: 120px;
    margin: 10px auto;
    background-color: var(--color-text);
    font-family: var(--font);
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid var(--color-highlight);
}

#submit-login:hover, #submit-registration:hover{
    background-color: var(--color-highlight);
}

.checkbox-login{
    width: 80%;
    margin: 20px auto;
}


.label-checkbox{
    color: var(--color-text);
    font-family: var(--font2);
}

#remember{
    width: 20px;
}

#container-registration{
    display: none;
}

#minimo, #minuscula, #maiuscula, #numero, #especial{
    color: var(--color-highlight);
    width: 80%;
    margin: auto;
    font-family: var(--font2);
}

.logo{
    width: 50px;
    margin: 20px auto;
}

.container2{
    width: 70%;
}

@media (max-width: 768px){
    body{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    body{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
    .container .label-form, .input-form, .login, .checkbox-login, #minimo, #minuscula, #maiuscula, #numero, #especial{
        width: 60%;
    }
} 