body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container-login{
    position: relative;
    width: 100%;
    height: 100vh;
   
}

.beer{
    display: block;
    z-index: 1;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
}

.container-form{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-login);
    padding: 20px;
    border-radius: 10px;
    
}

.form-login{
    display: flex;
    flex-direction: column;
}

.name-login{
    text-align: center;
    font-family: var(--font);
    font-size: 24px;
}

.label-login{
    margin-top: 20px;
    font-family: var(--font);
    font-size: 24px;
}

.input-login{
    width: 30rem;
    font-family: var(--font2);
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
    background-color: var(--background-login);
}

.submit-login{
    width: 100px;
    font-family: var(--font);
    font-size: 24px;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background-color: var(--background-login);
    color: black;
    padding: 3px;
}

.link-login{
    text-decoration:none;
    font-family: var(--font);
    font-size: 24px;
    color: blue;
}