<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Z Box Cross Club</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1>CRIAR CADASTRO</h1>
    <hr>
    <div class="row">
        <div class="col">
            <form method="POST" action="" class="border mt-5 p-5">
                {{form_criarcadastro.csrf_token}}
                <legend> Criar Cadastro</legend>
                <fieldset>
                <div class="form-group">
                    {{form_criarcadastro.username.label(class='form-control-label mt-2')}}
                    {{form_criarcadastro.username(class='form-control')}}

                </div>

                <div class="form-group">
                    {{form_criarcadastro.email.label(class='form-control-label')}}
                    {{form_criarcadastro.email(class='form-control')}}

                </div>

                <div class="form-group">
                    {{form_criarcadastro.senha.label(class='form-control-label')}}
                    {{form_criarcadastro.senha(class='form-control')}}

                </div>

                <div class="form-group">
                    {{form_criarcadastro.confirmacao_senha.label(class='form-control-label')}}
                    {{form_criarcadastro.confirmacao_senha(class='form-control')}}

                </div>
                </fieldset>
                {{form_criarcadastro.botao_submit_criarcadastro(class='btn btn-primary mt-2')}}
            </form>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>