<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/vars.css">
    <link rel="stylesheet" href="../static/styles/login.css">
    <title>Z Box Cross Club</title>

</head>
<body>

    <div class="container">

        <div class="login">
            <button id="button-login" onclick="Login()">Login</button>
            <button id="button-registration" onclick="Registration()">Cadastre-se</button>
        </div>
        <div id="container-login">
            <div class="container-form">

                <form method="POST" action="" class="form-login">

                    <label class="label-form" for="email-login">E-mail:</label>
                    <input class="input-form" type="email" id="email-login" name="email-login" required>

                    <label class="label-form" for="password-login">Senha:</label>
                    <input class="input-form" type="password" id="password-login" name="password-login" required>

                    <button id="submit-login" type="submit">Login</button>

                    <div class="checkbox-login">
                        <input type="checkbox" id="remember" name="remember">
                        <label class="label-checkbox" for="remember">Lembrar dados de acesso</label>
                    </div>
                </form>
            </div>
        </div>

        <div id="container-registration">
            <div class="container-form">
                <form action="" method="post" class="form-registration" onsubmit="return verificarSenha(), validatePassword()">
                        {{ csrf_token }}
                    <label class="label-form" for="name">Nome:</label>
                    <input class="input-form" type="text" id="name" name="name" required>

                    <label class="label-form" for="email-registration">Email:</label>
                    <input class="input-form" type="email" id="email-registration" name="email-registration" required>

                    <label class="label-form" for="password-registration">Senha:</label>
                    <input class="input-form" type="password" id="password-registration" name="password-registration" required>

                    <br>
                    <p id="minimo">Mínimo de 8 caracteres.</p>
                    <p id="maiuscula">Pelo menos 1 letra maiuscula.</p>
                    <p id="minuscula">Pelo menos 1 letra minuscula.</p>
                    <p id="numero">Pelo menos 1 número.</p>
                    <p id="especial">Pelo menos 1 caractere especial.</p>
                    <br>

                    <label class="label-form" for="confirm-password">Confirmar Senha:</label>
                    <input class="input-form" type="password" id="confirm-password" name="confirm-password" required>

                    <button id="submit-registration" name = "submit-registration" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

 <script src="../static/scripts/login.js"></script>
</body>
</html>